<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  <!--CONECTAR A BD-->
  <connectionStrings>
    <add name="conectar" connectionString="Server=DESKTOP-M23N7OF;integrated security = true;Database=Vacunacion" />
    <add name="CapaPresentacion.Properties.Settings.VacunacionConnectionString"
      connectionString="Data Source=.;Initial Catalog=Vacunacion;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>